@model List<AciSozlukWebApp.Models.Category>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Category", new { id = item.ID })">
            @item.CategoryName
        </a>
    </li>
}