@model List<AciSozlukWebApp.Models.Title>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Title", new { id = item.ID })">
            @item.TitleName
        </a>
    </li>
}
