
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Sharedd/_LayoutPage1.cshtml";
}

<div class="container mt-1">
    <div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">İletişim Bilgileri</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Adres</th>
                        <td>Acı Sözlük Merkezi<br>İstanbul, Türkiye</td>
                    </tr>
                    <tr>
                        <th>Telefon</th>
                        <td>+90 212 123 45 67</td>
                    </tr>
                    <tr>
                        <th>E-posta</th>
                        <td><a href="mailto:destek@acisozluk.com">destek@acisozluk.com</a></td>
                    </tr>
                    <tr>
                        <th>Çalışma Saatleri</th>
                        <td>
                            Pazartesi - Cuma: 09:00 - 18:00<br>
                            Cumartesi: 10:00 - 14:00<br>
                            Pazar: Kapalı
                        </td>
                    </tr>
                    <tr>
                        <th>Sosyal Medya</th>
                        <td>
                            <a href="#" class="me-2">Facebook</a> |
                            <a href="#" class="mx-2">Instagram</a> |
                            <a href="#" class="mx-2">X (Twitter)</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

